.user {
    display: flex;
    border: 1px solid black;
    border-radius: 25px;
    background-color: saddlebrown;
}

.photo {
    height: 100px;
    width: 100px;
    border-radius: 30px;
}

.avatar {
    text-align: center;
    padding: 10px;

}

.button__element {
}

.button {
    border-radius: 10px;
    background-color: blanchedalmond;
}

.userdata {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}

.nameModule {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.userdata .nameModule .userName {
    font-size: xx-large;
    font-weight: bold;
    color: midnightblue;
    /*padding: 10px;*/
}

.userdata .nameModule .userName:hover {
    cursor: pointer;
}

.userdata .nameModule .status {
    font-size: smaller;
    color: antiquewhite;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.users_pages ul {
    display: flex;
    justify-content: space-around;
}
.users_pages ul li{
    list-style-type: none;
    padding: 0 15px 0;
    border: 1px solid black;
    border-color: gold;
    border-radius: 10px;
}
.page {
    color: white;
}

.page:hover {
    cursor: pointer;
}

.active {
    color: gold;
    font-weight: bold;
}

ul .button {
    width: 85px;
    background: midnightblue;
    color: white;
    border: 1px solid black;
    border-color: gold;
    border-radius: 10px;
}