.user {
    display: flex;
    border: 1px solid black;
    border-radius: 25px;
    background-color: saddlebrown;
}

.photo {
    height: 100px;
    width: 100px;
    border-radius: 30px;
}

.avatar {
    text-align: center;
    padding: 10px;

}

.button__element {
}

.button {
    border-radius: 10px;
    background-color: blanchedalmond;
}

.userdata {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}

.nameModule {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.userdata .nameModule .userName {
    font-size: xx-large;
    font-weight: bold;
    color: midnightblue;
    /*padding: 10px;*/
}

.userdata .nameModule .status {
    font-size: smaller;
    color: antiquewhite;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

