.header {
    grid-area: h;
    background-color: #107210;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.header img {
    width: 80px;
    border-bottom-left-radius: 15px;
}