.nav {
    grid-area: n;
    background-color: burlywood;
    /*background: linear-gradient(#9A5044, #E8D9A9) fixed;*/
    padding: 20px;
}

.item {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 3px;
    text-align: center;
    font-weight: bold;

}
.item a{
    text-decoration: none;

    color:whitesmoke;
}
.item a.active{
    color: gold;
}
