.image {
    width: 100%;
}

.profileInfoBox {
    padding: 20px;
    color: blanchedalmond;
}

.userPhotoLarge {
    max-width: 500px;
}
.userPhotoLarge img{
    border-radius: 15px;
}

.userFullName {
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.aboutMeBlock {

}
.aboutMeTitle {
    display: block;
    font-size: larger;
}

.userLinkBox {
    max-width: 500px;
    padding: 10px 10px;
    border: 1px solid gold;
    border-radius: 15px;
    margin: 10px 0px;

}
.userLinkBox a {
    padding-left: 10px;
}