/*.dialogs {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 25px;
    background-color: saddlebrown;
}

.dialogsItems a {
    text-decoration: none;
    color: burlywood;
}

/*.dialogsItems .active {*/
/*    color: gold;*/
/*}*/
.dialog {
    border: 1px solid green;
}
.dialog a.active {
    color: gold
}